DJANGO_SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
ACCESS_TOKEN_LIFETIME_DAYS=
REFRESH_TOKEN_LIFETIME=
EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
CSRF_TRUSTED_ORIGINS=
SWAGGER_API_URL=
CURRENCY_CACHE_TTL=
